asn1crypto==0.24.0
azure-common==1.1.8
azure-nspkg==2.0.0
azure-storage-blob==0.37.1
azure-storage-common==0.37.1
azure-storage-nspkg==2.0.0
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
coverage==4.4.2
cryptography==2.1.4
Django==2.0.5
django-cors-headers==2.2.0
django-coverage==1.2.4
django-enumfields==0.10.0
django-extensions==2.0.6
django-filter==1.1.0
django-storages==1.6.6
django-tastypie==0.14.1
djangorestframework==3.8.2
elasticsearch==6.0.0
futures==3.1.1
graphene==2.0
graphene-django==2.0.0
graphql-core==2.0
graphql-relay==0.4.5
gunicorn==19.7.1
idna==2.6
iso8601==0.1.12
Pillow==5.1.0
promise==2.1
psycopg2==2.7.3.2
pycparser==2.18
pygraphviz==1.3.1
python-dateutil==2.7.3
python-mimeparse==1.6.0
pytz==2018.4
requests==2.18.4
Rx==1.6.0
singledispatch==3.4.0.3
six==1.11.0
typing==3.6.2
urllib3==1.22
XML2Dict==0.2.2
