asn1crypto==0.23.0
azure-common==1.1.8
azure-nspkg==2.0.0
azure-storage==0.36.0
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
coverage==4.4.2
cryptography==2.1.4
Django==2.0
django-cors-headers==2.1.0
django-coverage==1.2.4
django-enumfields==0.9.0
django-storages==1.5.2
django-tastypie==0.14.0
elasticsearch==6.0.0
graphene==2.0
graphene-django==2.0.0
graphql-core==2.0
graphql-relay==0.4.5
gunicorn==19.7.1
idna==2.6
iso8601==0.1.12
promise==2.1
psycopg2==2.7.3.2
pycparser==2.18
python-dateutil==2.6.1
python-mimeparse==1.6.0
pytz==2017.3
requests==2.18.4
Rx==1.6.0
singledispatch==3.4.0.3
six==1.11.0
typing==3.6.2
urllib3==1.22
