Django==2.2.13
Jinja2==2.10.1
Markdown==2.6.11
MarkupSafe==1.1.1
Pillow==7.2.0
PyPDF2==1.26.0
Pygments==2.2.0
Rx==1.6.0
XML2Dict==0.2.2
aiofiles==0.4.0
aiohttp==3.7.4
asn1crypto==0.24.0
azure-common==1.1.19
azure-nspkg==3.0.2
azure-storage-blob==1.5.0
azure-storage-common==1.4.0
azure-storage-logging==0.5.1
azure-storage-nspkg==3.1.0
azure-storage==0.36.0
beautifulsoup4==4.6.3
boto3==1.13.20
bs4==0.0.1
celery[redis]==4.4.6
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
coverage==4.4.2
cryptography==3.3.2
django-admin-autocomplete-filter==0.5
django-admin-list-filter-dropdown==1.0.2
django-celery-beat==2.0.0
django-cors-headers==2.2.0
django-coverage==1.2.4
django-debug-toolbar==2.2
django-enumfields==0.10.0
django-extensions==2.0.6
django-filter==2.2.0
django-guardian==1.5.1
django-modeltranslation==0.15
django-reversion-compare==0.9.0
django-reversion==3.0.5
django-storages==1.7.1
django-tastypie==0.14.3
django-tinymce4-lite==1.7.4
djangorestframework-csv==2.1.0
djangorestframework-guardian==0.1.1
djangorestframework==3.9.1
elasticsearch==6.0.0
futures==3.1.1
fuzzywuzzy==0.17.0
graphene-django==2.0.0
graphene==2.0
graphql-core==2.0
graphql-relay==0.4.5
gunicorn==19.7.1
idna==2.8
ipython
iso8601==0.1.12
itypes==1.1.0
jsmin==2.2.2
lxml==4.6.2
pandas==0.23.4
pdfminer.six==20191110
pip==19.3.1
polib==1.1.0
promise==2.1
psycopg2==2.7.3.2
pycountry==19.8.18
pycparser==2.19
python-Levenshtein==0.12.0
python-dateutil==2.8.0
python-mimeparse==1.6.0
pytidylib==0.3.2
pytz==2019.1
regex==2018.8.29
requests==2.21.0
setuptools==45
singledispatch==3.4.0.3
six==1.12.0
tabula-py==1.2.0
typing==3.6.2
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.24.2
urllib3==1.24.2
wheel==0.30.0
xmltodict==0.11.0
snapshottest==0.5.1
factory_boy==2.12.0
pydash==4.8.0
