environment: dev

env:
  DJANGO_SECRET_KEY: ''
  DJANGO_DB_NAME: ''
  DJANGO_DB_USER: ''
  DJANGO_DB_PASS: ''
  DJANGO_DB_HOST: ''
  DJANGO_DB_PORT: ''
  AZURE_STORAGE_ACCOUNT: ''
  AZURE_STORAGE_KEY: ''
  EMAIL_API_ENDPOINT: ''
  EMAIL_HOST: ''
  EMAIL_PORT: ''
  EMAIL_USER: ''
  EMAIL_PASS: ''
  TEST_EMAILS: ''
  AWS_TRANSLATE_ACCESS_KEY: ''
  AWS_TRANSLATE_SECRET_KEY: ''
  AWS_TRANSLATE_REGION: ''
  CELERY_REDIS_URL: ''
  CACHE_MIDDLEWARE_SECONDS: ''
  MOLNIX_API_BASE: ''
  MOLNIX_USERNAME: ''
  MOLNIX_PASSWORD: ''
  ERP_API_ENDPOINT: ''
  ERP_API_SUBSCRIPTION_KEY: ''
  FDRS_CREDENTIAL: ''
  HPC_CREDENTIAL: ''
  APPLICATION_INSIGHTS_INSTRUMENTATION_KEY: ''
  ELASTIC_SEARCH_HOST: ''
  ELASTIC_SEARCH_INDEX: 'new_index'
  GO_FTPHOST: ''
  GO_FTPUSER: ''
  GO_FTPPASS: ''
  GO_DBPASS: ''
  APPEALS_USER: ''
  APPEALS_PASS: ''
  DJANGO_DEBUG: ''
  DOCKER_HOST_IP: ''
  DJANGO_ADDITIONAL_ALLOWED_HOSTS: ''
  GO_ENVIRONMENT: ''
  API_FQDN: ''
  FRONTEND_URL: ''
  DEBUG_EMAIL: ''
  SENTRY_DSN: ''
  SENTRY_SAMPLE_RATE: ''
  DJANGO_READ_ONLY: ''
  AUTO_TRANSLATION_TRANSLATOR: ''
  IFRC_TRANSLATION_DOMAIN: ''
  IFRC_TRANSLATION_HEADER_API_KEY: ''
  FDRS_APIKEY: ''
  NS_CONTACT_USERNAME: ''
  NS_CONTACT_PASSWORD: ''
  ACAPS_API_TOKEN: ''
  NS_DOCUMENT_API_KEY: ''
  NS_INITIATIVES_API_KEY: ''
  NS_DOCUMENT_API_TOKEN: ''
  JWT_PRIVATE_KEY_BASE64_ENCODED: ''
  JWT_PUBLIC_KEY_BASE64_ENCODED: ''
  JWT_EXPIRE_TIMESTAMP_DAYS: ''
  AZURE_OPENAI_DEPLOYMENT_NAME: ''
  AZURE_OPENAI_ENDPOINT: ''
  AZURE_OPENAI_API_KEY: ''
  OIDC_ENABLE: false
  OIDC_RSA_PRIVATE_KEY_BASE64_ENCODED:
  OIDC_RSA_PUBLIC_KEY_BASE64_ENCODED:
  RELIEF_WEB_APP_NAME: ''
  POWERBI_WORKSPACE_ID: ''
  POWERBI_DATASET_IDS: ''

# NOTE: Used to pass additional configs to api/worker containers
# NOTE: Not used by azure vault
envAdditional:
  # Additional configs
  # EXAMPLE: MY_CONFIG: "my-value"

secrets:
  API_TLS_CRT: ''
  API_TLS_KEY: ''
  API_ADDITIONAL_DOMAIN_TLS_CRT: ''
  API_ADDITIONAL_DOMAIN_TLS_KEY: ''

# NOTE: Used to pass additional secrets to api/worker containers
# NOTE: Not used by azure vault
secretsAdditional:
  # Additional secrets
  # EXAMPLE: MY_SECRET: "my-secret-value"

redis:
  enabled: true
  architecture: standalone
  fullnameOverride: go-redis
  auth:
    enabled: false
  master:
    persistence:
      enabled: true
      size: 1Gi
    resources:
      requests:
        cpu: "0.5"
        memory: 1Gi
      limits:
        cpu: "1"
        memory: 2Gi
  resources:
    requests:
      cpu: "0.5"
      memory: 1Gi
    limits:
      cpu: "1"
      memory: 2Gi

# https://artifacthub.io/packages/helm/bitnami/minio
# extraEnvVars: https://github.com/bitnami/containers/blob/main/bitnami/minio/README.md#environment-variables
minio:
  enabled: false  # XXX: Used for alpha instances running outside Azure
  disableWebUI: true
  mode: standalone
  fullnameOverride: go-minio
  global:
    defaultStorageClass:
  apiIngress:
    enabled: true
    ingressClassName:
    hostname:
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: "50m"
  auth:
    forceNewKeys: True
    rootUser: go
    rootPassword:
  persistence:
    enabled: true
    size: 1Gi
  defaultBuckets: go-data,go-static
  provisioning:
    enabled: true
    resourcesPreset: "nano"
    cleanupAfterFinished:
      enabled: true
    extraCommands:
      - "mc anonymous set download provisioning/go-static"

postgresql:
  enabled: false  # XXX: Used for alpha instances running outside Azure
  fullnameOverride: "go-pg"
  architecture: standalone
  primary:
    persistence:
      enabled: true
      size: 8Gi

playwright:
  enabled: rue
  replicaCount: 1
  containerPort: 3000
  image:
    # NOTE: Make sure this matches with pyproject playwright dependency and root docker-compose
    name: 'mcr.microsoft.com/playwright'
    tag: 'v1.50.0-noble'
    pullPolicy: 'IfNotPresent'
  resources:
    requests:
      cpu: "0.1"
      memory: 1Gi
    limits:
      cpu: "2"
      memory: 2Gi

api:
  domain: "go-staging.ifrc.org"
  tls:
    enabled: true
  additionalDomain: ""
  enabled: true
  replicaCount: 1
  containerPort: 80
  image:
    name: 'SET-BY-CICD-IMAGE'
    tag: 'SET-BY-CICD-TAG'
    pullPolicy: 'IfNotPresent'
  resources:
    requests:
      cpu: "2"
      memory: 4Gi
    limits:
      cpu: "2"
      memory: 4Gi

celery:
  enabled: true
  resources:
    requests:
      cpu: "0.5"
      memory: 0.4Gi
    limits:
      cpu: "2"
      memory: 4Gi

argoHooksEnabled: false  # FIXME: Remove this after go-api is moved to argoCD pipeline
argoHooks:
  # NOTE: Make sure keys are lowercase
  database-migration:
    enabled: true
    hook: PostSync
    preserveHistory: true
    command: ["./manage.py", "migrate"]
  collect-static:
    enabled: true
    hook: PostSync
    command: ["./manage.py", "collectstatic", "--noinput"]

cronjobsDefaultResources:
  requests:
    cpu: 1
    memory: 4Gi
  limits:
    cpu: 1
    memory: 4Gi

cronjobs:
  - command: 'index_and_notify'
    schedule: '*/5 * * * *'
  - command: 'sync_molnix'
    schedule: '10 */2 * * *'
    resources:
      requests:
        memory: 6Gi
        cpu: 2
      limits:
        memory: 8Gi
        cpu: 2
  - command: 'ingest_appeals'
    schedule: '*/30 * * * *'
  - command: 'sync_appealdocs'
    schedule: '15 * * * *'
  - command: 'revoke_staff_status'
    schedule: '51 * * * *'
  - command: 'update_project_status'
    schedule: '1 3 * * *'
  - command: 'user_registration_reminder'
    schedule: '0 9 * * *'
  - command: 'ingest_country_plan_file'
    schedule: '1 0 * * *'
  - command: 'fdrs_annual_income'
    schedule: '0 0 * * 0'
  - command: 'FDRS_INCOME'
    schedule: '0 0 * * 0'
  - command: 'ingest_acaps'
    schedule: '0 1 * * 0'
  - command: 'ingest_climate'
    schedule: '0 0 * * 0'
  - command: 'ingest_databank'
    schedule: '0 0 * * 0'
  - command: 'ingest_hdr'
    schedule: '0 0 * * 0'
  - command: 'ingest_unicef'
    schedule: '0 0 * * 0'
  - command: 'ingest_worldbank'
    schedule: '0 2 * * 0'
  - command: 'ingest_disaster_law'
    schedule: '0 0 * * 0'
  - command: 'ingest_ns_contact'
    schedule: '0 0 * * 0'
  - command: 'ingest_ns_capacity'
    schedule: '0 0 * * 0'
  - command: 'ingest_ns_directory'
    schedule: '0 0 * * 0'
  - command: 'ingest_ns_document'
    schedule: '0 0 * * 0'
  - command: 'ingest_ns_initiatives'
    schedule: '0 0 * * 0'
  - command: 'ingest_icrc'
    schedule: '0 3 * * 0'
  # Schedule time yet to be decided
  - command: 'poll_gdacs_cy'
    schedule: '0 0 * * 0'
  - command: 'poll_gdacs_fl'
    schedule: '0 0 * * 0'
  - command: 'poll_usgs_eq'
    schedule: '0 0 * * 0'
  # - command: 'notify_validators' 
  #   schedule: '0 0 * * *'
  # https://github.com/jazzband/django-oauth-toolkit/blob/master/docs/management_commands.rst#cleartokens
  - command: 'oauth_cleartokens'
    schedule: '0 1 * * *'


elasticsearch:
  enabled: true
  httpPort: 9200
  transportPort: 9300
  elasticsearchVersion: 7.16.2
  storageSize: 20Gi
  storageClassName: managed-premium # FIXME: populate and use
  disk:
    name: my-disk-name
    uri: https://mydisk.blob.core.windows.net/mycontainer/mydisk.vhd
  resources:
    requests:
      cpu: "2"
      memory: 4Gi
    limits:
      cpu: "2"
      memory: 4Gi

sshBastion:
  enabled: true
  resources:
    requests:
      cpu: "0.5"
      memory: 0.5Gi
    limits:
      cpu: "1"
      memory: 1Gi
  keys:
    zoltan.pub: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPGAnkQdf5CIpVoqNVJ17AAzUb02gpTltJI5q5SRKxl8 zol@hp
    daniel.pub: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDU1XLLPq1J4kFvNyg5eUK8uuW8dtW1f3ALVnYr0nVhldxF0J59XtZbNFBLCVHYZL3NQxYQrucll6LbGaMGKbGsTwtqcxqd2fWlhg7nBnvhOzULYbAru3YfpkgnawGin6Y7qW/MQ3fYmqqm8MB7p5+G4sIL76S2yWbi7lcKWnd87yDTGEEoc8H6i6IwNNVHudvuMA4MzGkSgql7gIC2KuU+s2u9Y6fmE92G39BO454SUgAcCJfhuXukZhU4UN3RVYy+F0MxVeLc0hEJi4sCYcoPKREc0//srNyni7b8G8C+z6t02xrzhWwIORlb8Jr2kmbblp7PFMz4r2qRd8MvXAa5ta6kUvMDg0t52JaDMAGy0IjGZh9PznXbp1LYn7uS5NQh4C/t6Q3TXyJbEiaQaObcmjn6w/DWH6gI7ZRYkPGdlctlNm5MWnhjG9Q/FzRIxvaauSFqgs6bfIUGGaY9i1eNiowVSzDPlP7nH0gJpq+uS5Qdyg69m/XH1DqywPoZY7U= ifrcds\daniel.tovari@5CG41911RW
    arun.pub: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDE7Od5qJKcdLeAwd7ZxD5kgow1o93rAeZf1LfdzRPIu0PsInwX3Mdn/uvLUbmYQkXuUWGVS8d+9SJ94lbAGN6XuJqYxlfSumZTHNr49j4v4pk2O83N4RZ0v3GQLG/aa6gkmTgS6PEfsiazx5wu6Q3YzdrF6WOyd0r859zpBhApQhzgzQ1wult7T00TRhiUxekKm3/NEsG2RvXAcBPUnRjNdz9qDDAhk2tkIIFzLWn+f0gPWOYwDAx5IoTlzqX0HkfhS8SUe0ykSGpVUTlul2rapkiQ7DAqq96JYUxc4f5g+rIh9eQr7Jzn+mFfVvph3RtWg0/tSsa/9ynQEgwVWfFww3xYAnnDtIbCTT0wRZgmi9mNlxnLSXSKBJysmYOdW5nPevjKwv7ms7LEhoyztxNBdnhfH/9ydYpkDFWf2MvIN5eOvx1nIiTL5YC1ZHmEWPzdQ23+sOy3tge4Uh78aD+hTQ0paAUqRSij7Z6NZq6pp9AUhlR7Djt5SounqHHZaHH9wpF7Np1ImKo32iNhLufTamUYPDAgFkDnH4B9eNIB+snwpnB5UdT/WnHx0kdHGTclJZx6B01nY4JfiHUgQ1wW+GsX9T+4IH2vmO24IoxN6TtP0siDrtDbJrEOQKk4A/LFFn11f4TfpjscuFV3RIKry0/TJfTfJvVrQDzIm7RnSw== arun.gandhi@ifrc.org
    thenav56.pub: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN/f/A3qkaTHSdbKn8Hv75YiJvRMEXvWTDdIiR7tyAjJ navin@nav-machine
    david.pub: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC3FzrQdVh5Qwp5Y6KQGcpqHxKErxCW103iEECuutR/jBZe6X0xjD+cW7e+H8SrUsPQwj87fzOsMAc6v6n+3hdYFa6ekgRG/USEIUR5C/GD1Xjva3Xpp45PasBhJEtYt2ON+dlzwvRyOuv2hvqv2WHBO020ewIlVuQ4pU4Qj5ysvwWGj8GAv/jITiVERmjLTStbFwxeIDT3jQEbwnfV1zZZKiGxIecB/y51nk6oIQ00ZGrYEo5ieWsUSVfLHOX0/lZ0mtrdqxDEgMaCbNaUbICAimsJPamNpoirKc7FoKIKKrLQsK8qE1lClWQEecbW+dgSiwxracooKeWhHq+BkKUCNgEL/C0ff2l9e8sJcLmYZUdPtDCdtUDC8BAlELA5HR6tdCTfFcc0nXltclSSODMnZkQohh5/2fixJTwN5p5csEfBLzbdrturKtT/TbYSoaodg4muPqY4YE5jiJfrHVAGS1DVWz/cRcm1vOxT2V4iW2SNvo8fS2PZOpU5furrvbM= ifrcds\david.muchatiza@5CG41911S1
    paola.pub: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDGql4RrbxSQTW5QrTh+P+94jGCXOCeZgc23hxL9zFCYQrzL0SMw1F53Z5SFZimIhJswYPqV2pT8L4oTRqIrTCM+looWi7b9/9u+m/KmA+FWbo3u6uRrckkA3nVIKsKHvlOucX2GxE6i+tXdeXEisW49ZpMtuvxMLJ3Eg4MK10d/2d3FKuzTsrxCTlJn8FAE3yOsVow0jdu+381IrkAqRE2GINeQ87hVlQpbo+bL2N/2QZmNjDhBBQkRJLDisW0+UNgo+S9wN7HbpV5LheSJS9wGN7LlmcqlpZFrDO/lVyoMxEQ0588wUI8BVfqAZDEBJPdGtzq513r+5iXEX/9A1Mendlvxfl6ANNRcH9PVZHkRN1dxY3rckQ+Lk3qqIjjfYFYvl5Gybidb1BM2VNWHAuzaDDQzJpeTHIbQnDt7Ke4oX2xWYgyu+kVhqz0HnAV28qMXbMEsrMIrtwl7IjcrorgdduHghZvWFbaJZNtXOfgnf1IYNXkZ9eWPS+Bz9nWMhE= ifrcds\paola.yela@5CG41911RT
