{% include "email/dref/head.html" %}

   <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
     <tr>
       <td align="center" class="pb-30" style="padding-bottom:30px;">
         <p>Dear Colleague,</p>
         <p>
           The implementation timeframe for DREF operation <b>{{ mdr_code }}</b> – <b>{{ operation_name }}</b>
           ended on <b>{{ operation_end_date|date:"d M Y" }}</b>.
         </p>
         <p>
           In line with DREF reporting requirements, a final narrative and financial report is due by
           <b>{{ due_date|date:"d M Y" }}</b>.
         </p>
         <p>Please initiate the necessary steps to prepare and submit the report by the deadline.</p>
         <p>Kind regards,<br>DREF Team</p>
       </td>
     </tr>
   </table>

{% include "design/foot1.html" %}
