{% include "design/head3.html" %}

<table width="80%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tr>
        <td>

            <p>
                Dear <span style="text-transform: uppercase; font-weight: bold;">{{ national_society }}</span> colleagues,
            </p>
            <br>
            <p>
                We are glad to inform you that the {{ country_name }} {{ disaster_type }} is ready for implementation. Congratulations!
            </p>

            <p>
                The IFRC Project should ensure that the transfer of funds for year 1 is done as soon as possible
                and the NS should start the implementation of readiness for year 1 and pre-positioning activities. 
            </p>

            <br>
            <p>
                If you have any questions on the process or the next steps, please don’t hesitate to reach out
                <a href="mailto:DREF.anticipatorypillar@ifrc.org">DREF.anticipatorypillar@ifrc.org</a>.
            </p>
            <br>
            <p>
                Congratulations again and warm wishes,<br>
                IFRC DREF AA Team
            </p>

        </td>
    </tr>
</table>

{% include "design/foot1.html" %}
