{% include "design/head3.html" %}

<table width="80%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tr>
        <td style="line-height:1.6;">
            <p style="font-weight: bold;">Dear colleagues,</p>
            <p>
                <span style="text-transform: uppercase; font-weight: bold;">{{ national_society }}</span>
                is hereby submitting the {{ latest_version }} version of {{ national_society }} {{ disaster_type }} EAP to the IFRC-DREF.
            </p>

            <!-- Data table -->
            <table cellpadding="6" cellspacing="0"
                   style="margin:12px auto; border-collapse:collapse; border:1px solid #000000;">
                <tr>
                    <td style="border:1px solid #000000; width:40%; font-weight: bold;">
                        Country
                    </td>
                    <td style="border:1px solid #000000;">
                        {{ country_name }}
                    </td>
                </tr>
                <tr>
                    <td style="border:1px solid #000000; width:40%; font-weight: bold;">
                        Type of EAP
                    </td>
                    <td style="border:1px solid #000000;">
                        {{ eap_type_display|default:"Not Sure" }}
                    </td>
                </tr>
                <tr>
                    <td style="border:1px solid #000000; width:40%; font-weight: bold;">
                        Hazard
                    </td>
                    <td style="border:1px solid #000000;">
                        {{ disaster_type }}
                    </td>
                </tr>
                <tr>
                    <td style="border:1px solid #000000; width:40%; font-weight: bold;">
                        People targeted
                    </td>
                    <td style="border:1px solid #000000;">
                        {{ people_targeted }}
                    </td>
                </tr>
                <tr>
                    <td style="border:1px solid #000000; width:40%; font-weight: bold;">
                        Budget
                    </td>
                    <td style="border:1px solid #000000;">
                        {{ total_budget }}
                    </td>
                </tr>
                <tr>
                    <td style="border:1px solid #000000; width:40%; font-weight: bold;">
                        NS contact Person
                    </td>
                    <td style="border:1px solid #000000;">
                        {{ ns_contact_name }} / {{ ns_contact_email }}
                    </td>
                </tr>
                {% if supporting_partners %}
                <tr>
                    <td style="border:1px solid #000000; width:40%; font-weight: bold;">
                        Supporting Partner(s)
                    </td>
                    <td style="border:1px solid #000000;">
                        {% for partner in supporting_partners %}
                            {{ partner.society_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
            </table>

            <p>
                Our National Society has considered the comments from the technical review, 
                has adjusted the narrative EAP in GO, updated the budget and responded to the comments in the review checklist.
                Find attached the documents.
            </p>

            <p>Attachments:</p>
            <p>Revised EAP PDF with modifications in tracked changes:</p>
            <p>Revised EAP budget: {{ budget_file }}</p>
            <p>Review checklist with National Society response to comments:  
            {% if updated_checklist_file %}
                {{ updated_checklist_file }}"
            {% else %}
                N/A
            {% endif %}

            <!-- Signature -->
            <p style="margin-top:16px;">
                Kind regards,<br>
                {{ ns_contact_name }}<br>
                {{ ns_contact_email }}<br>
                {{ ns_contact_phone }}
            </p>

        </td>
    </tr>
</table>

{% include "design/foot1.html" %}