{% include "design/head3.html" %}

<table width="80%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tr>
        <td>

            <p>
                Dear <span style="text-transform: uppercase; font-weight: bold;">{{ national_society }}</span> colleagues,
            </p>

            <p>
                This is a reminder that the next version of the {{ country_name }} {{ disaster_type }} should be submitted before Deadline.
            </p>

            <p>
                If you have any questions regarding the process or next steps, please do not hesitate to contact us at
                <a href="mailto:DREF.anticipatorypillar@ifrc.org">DREF.anticipatorypillar@ifrc.org</a>.
            </p>

            <p>
                Kind regards,<br>
                IFRC DREF AA Team
            </p>

        </td>
    </tr>
</table>

{% include "design/foot1.html" %}
