{% extends "admin/change_list.html" %}

{% block object-tools-items %}
<li>
    <a href="https://go-wiki.ifrc.org/en/admin_guide/Account_validation" target="_blank" class="historylink">?</a>
</li>
{{ block.super }}

    {% if additional_addlinks %}
        {% for addlink in additional_addlinks %}
            <li>
                <a
                    href="{% if addlink.url is not None %}{{url}}{% else %}{% url addlink.namespace %}{% endif %}"
                >
                    {{addlink.label}}
                </a>
            </li>
        {% endfor %}
    {% endif %}
    {{ block.super }}
{% endblock %}
