          <!-- Footer -->
          <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
            <tr>
              <td valign="top" align="center" class="pt-50 pb-50">
                <table width="650" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
                  <tr>
                    <td class="td td-shell">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td class="text-default td-smaller-font-style text-right pl-10 pr-10" style="border-right:1px solid #000;">
                            <a href="https://go.ifrc.org/login" target="_blank" class="link">Login to IFRC GO</a>
                          </td>
                          <td class="text-default td-smaller-font-style pl-10 pr-10">
                            <a href="https://go.ifrc.org/account#notifications" target="_blank" class="link">Unsubscribe</a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!-- END Footer -->
        </td>
      </tr>
    </table>
  </body>
