          <!-- Footer -->
          <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
            <tr>
              <td valign="top" align="center" class="pt-50 pb-50" style="padding-top: 50px; padding-bottom: 50px;">
                <table width="650" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
                  <tr>
                    <td class="td td-shell" style="padding: 0;margin: 0;">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td class="text-default text-right pr-10" style="padding-right: 10px;border-right:1px solid #000;text-align: right;font-style: normal;font-weight: 300;font-size: 12px;line-height: 18px">
                            <a href="https://go.ifrc.org/login" target="_blank" class="link" style="font-family: Poppins, Arial, sans-serif;text-decoration: underline;color: #000;">Login to IFRC GO</a>
                          </td>
{% if not hide_preferences %}
                          <td class="text-default pl-10" style="padding-left: 10px;font-style: normal;font-weight: 300;font-size: 12px;line-height: 18px">
                            <a href="https://go.ifrc.org/account#notifications" target="_blank" class="link" style="font-family: Poppins, Arial, sans-serif;text-decoration: underline;color: #000;">Unsubscribe</a>
                          </td>
{% endif %}
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!-- END Footer -->
        </td>
      </tr>
    </table>
  </body>
</html>
