          <!-- Footer -->
          <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
            <tr>
              <td valign="top" align="center" class="pt-50 pb-50" style="padding-top:50px;padding-bottom:50px;" >
                <table width="650" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
                  <tr>
                    <td class="td td-shell" style="width:650px;min-width:650px;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;" >
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td class="td-global td-global-font-style text-right p-10" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;text-align:right;color:#000000;font-family:'Lato', Arial, sans-serif;font-weight:250;font-size:16px" ><a href="https://go.ifrc.org/login" target="_blank" class="link" style="font-family:'Lato', Arial, sand-serif;text-decoration:underline;color:#000;" >Login to IFRC GO</a>
                          </td>
                          <td class="td-global td-global-font-style p-10" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;color:#000000;font-family:'Lato', Arial, sans-serif;font-weight:250;font-size:16px" ><a href="https://go.ifrc.org/account" target="_blank" class="link" style="font-family:'Lato', Arial, sand-serif;text-decoration:underline;color:#000;" >Unsubscribe</a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!-- END Footer -->
        </td>
      </tr>
    </table>
