  <!-- Main -->
  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tr>
      <td align="center">
        <table width="650" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
          <tr>
            <td class="td td-shell">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td class="text-center text-default pb-25" colspan="2">
                    <span class="table-heading-main">{{ subject }}: </span>
                    <span class="table-heading-sub">sub-header</span>
                  </td>
                </tr>
                <tr>
                  <td class="text-default td-global-font-style text-italic pb-30" colspan="2">
                    You are receiving this update based on your selected preferences. <a href="https://go.ifrc.org/account#notifications" target="_blank" class="link">Update your preferences</a>
                  </td>
                </tr>
                <tr>
                  <td class="text-default text-lg text-light" colspan="2">
                    Below are the latest updates in GO over the past 7 days.
                  </td>
                </tr>
                <tr>
                  <td class="td" colspan="2">
                    <table width="100%" border="0" cellspacing="10" cellpadding="0" class="pb-30">
                      <tr class="text-default text-center text-uppercase tr-box">
                        <td>
                          <p>IMG</p>
                          <p class="text-bold text-xl">45</p>
                          <p>Active DREF Operations</p>
                        </td>
                        <td>
                          <p>IMG</p>
                          <p class="text-bold text-xl">40</p>
                          <p>Active Emergency Appeals</p>
                        </td>
                        <td>
                          <p>IMG</p>
                          <p class="text-bold text-xl">70%</p>
                          <p>Emergency Appeals Funded</p>
                        </td>
                        <td>
                          <p>IMG</p>
                          <p class="text-bold text-xl">631,8M</p>
                          <p>Budget for DREFs and Appeals (CHF)</p>
                        </td>
                        <td>
                          <p>IMG</p>
                          <p class="text-bold text-xl">57.2M</p>
                          <p>People targeted</p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="text-default table-heading-title pt-10 pb-10" colspan="2">Highlighted Operations (2)</td>
                </tr>
{% for x in y %}
                <tr>
                  <td class="td text-default box box-bordered" style="padding: 0;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="12">
                      <tr>
                        <td class="text-default pt-20 pb-10">
                          <p class="text-bold">China: Floods</p>
                          <br />
                          <p class="text-light">Last update: DD - MM - YYYY</p>
                        </td>
                        <td class="text-default text-right" style="vertical-align: top;">
                          <a href="#" class="link text-red">Follow</a>
                        </td>
                      </tr>
                      <tr class="text-uppercase">
                        <td class="text-default text-light td-light-border">
                          <p class="text-bold text-xl">27,800</p>
                          <p>People Targeted</p>
                        </td>
                        <td class="text-default text-light td-light-border">
                          <p class="text-bold text-xl">-</p>
                          <p>Deployed Emergency Response Units</p>
                        </td>
                      </tr>
                      <tr class="text-uppercase">
                        <td class="text-default text-light td-light-border">
                          <p class="text-bold text-xl">381,563 CHF</p>
                          <p>Funding Requirements</p>
                        </td>
                        <td class="text-default text-light td-light-border">
                          <p class="text-bold text-xl">-</p>
                          <p>Deployed Surge Personnel</p>
                        </td>
                      </tr>
                      <tr class="text-uppercase">
                        <td class="text-light">
                          Funding Coverage
                        </td>
                        <td class="text-right text-bold text-lg">
                          100%
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td class="td text-default box box-bordered" style="padding: 0;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="12">
                      <tr>
                        <td class="text-default pt-20 pb-10">
                          <p class="text-bold">China: Floods</p>
                          <br />
                          <p class="text-light">Last update: DD - MM - YYYY</p>
                        </td>
                        <td class="text-default text-right" style="vertical-align: top;">
                          <a href="#" class="link text-red text-italic">Unfollow</a>
                        </td>
                      </tr>
                      <tr class="text-uppercase">
                        <td class="text-default text-light td-light-border">
                          <p class="text-bold text-xl">27,800</p>
                          <p>People Targeted</p>
                        </td>
                        <td class="text-default text-light td-light-border">
                          <p class="text-bold text-xl">-</p>
                          <p>Deployed Emergency Response Units</p>
                        </td>
                      </tr>
                      <tr class="text-uppercase">
                        <td class="text-default text-light td-light-border">
                          <p class="text-bold text-xl">381,563 CHF</p>
                          <p>Funding Requirements</p>
                        </td>
                        <td class="text-default text-light td-light-border">
                          <p class="text-bold text-xl">-</p>
                          <p>Deployed Surge Personnel</p>
                        </td>
                      </tr>
                      <tr class="text-uppercase">
                        <td class="text-light">
                          Funding Coverage
                        </td>
                        <td class="text-right text-bold text-lg">
                          100%
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
{% endfor %}
                <tr>
                  <td class="text-default table-heading-title pt-40 pb-10" colspan="2">Latest IFRC Operations (5)</td>
                </tr>
                <tr>
                  <td class="td" colspan="2">
                    <table width="100%" border="0" cellspacing="0" cellpadding="10">
                      <tr class="text-default text-left">
                        <th>Operation Name</th>
                        <th>Last Update</th>
                        <th>Funding Requirement (CHF)</th>
                      </tr>

{% if records|length %}
    {% for record in records %}
                      <tr class="table-annce pb-10" >
                        <td class="text-default td-white-border">
                          <a href="#" class="link">Qqweqweqweqweq</a>
                        </td>
                        <td class="text-default td-white-border">
                          17 - 05 - 2019
                        </td>
                        <td class="text-default td-white-border">
                          181,417
                        </td>
                      </tr>
                      <tr class="table-annce pb-10">
                        <td class="text-default td-white-border">
                          <a href="#" class="link">Qqweqweqweqweq</a>
                        </td>
                        <td class="text-default td-white-border">
                          17 - 05 - 2019
                        </td>
                        <td class="text-default td-white-border">
                          181,417
                        </td>
                      </tr>
    {% endfor %}
{% endif %}
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="text-default table-heading-title pt-40 pb-10" colspan="2">Latest Deployments (2)</td>
                </tr>
                <tr>
                  <td class="td" colspan="2">
                    <table width="100%" border="0" cellspacing="0" cellpadding="10">
                      <tr class="table-annce pb-10" >
                        <td class="text-default td-white-border">
                          Aasdasdasdasdasdasdasdasdsaasdas
                        </td>
                      </tr>
                      <tr class="table-annce pb-10">
                        <td class="text-default td-white-border">
                          Aasdasdasdasdasdasdasdasdsaasdas
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <!-- END Main -->