  <!-- Main -->
{% load humanize %}

{% if records|length %}
  {% for fr in records %}
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
      <tr>
        <td align="center" class="pb-30" style="padding-bottom:30px;">
          <table width="650" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
            <tr>
              <td class="td td-shell" style="width: 650px;min-width: 650px;padding: 0;margin: 0;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="text-center text-default pb-25" style="padding-bottom: 25px;text-align: center;">
                      <span class="table-heading-main" style="font-weight: bold;font-size: 24px;">New Field Report: </span>
                      <span class="table-heading-sub" style="font-size: 24px;">{{ fr.title }}</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-default table-heading-title pt-10 pb-10" style="padding-top: 10px;padding-bottom: 10px;text-transform: uppercase;font-weight: bold;">Description</td>
                  </tr>
                  <tr>
                    <td class="text-default text-light pb-40" style="padding-bottom: 40px;font-weight: 300;">
                      {% autoescape off %}
                        {{ fr.description }}
                      {% endautoescape %}
                    </td>
                  </tr>
                  <tr>
                    <td class="td text-default box box-pointed" style="color: #000000;font-family:'Lato', Arial, sans-serif;border: 1px solid #888;padding: 12px;border-radius: 20px;border-top-left-radius: 0;">
                      <table width="100%" border="0" cellspacing="0" cellpadding="10" class="pb-30" style="padding-bottom: 30px;">
                        <tr>
                          <td class="text-default table-heading-title pt-10 pb-20" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-top: 10px;padding-bottom: 20px;text-transform: uppercase;font-weight: bold;">
                            Key Figures {% if fr.sit_fields_date %}@ {{ fr.sit_fields_date|date:"F j, Y" }}{% endif %}
                          </td>
                        </tr>

                        <!-- if NOT EPI () type Field Report -->
                        {% if fr.dtype_id != 1 %}                        
                          <tr>
                            <td class="text-default text-light text-uppercase pl-20" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-left: 20px;text-transform: uppercase;font-weight: 300;">Affected</td>
                            <td class="text-default text-bold pr-20" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-right: 20px;font-weight: 700;">
                              {% if fr.key_figures.affected != '--' %}
                                {{ fr.key_figures.affected|floatformat:"1"|intcomma|slice:":-2" }}
                              {% else %}
                                {{ fr.key_figures.affected }}
                              {% endif %}
                            </td>
                            <!-- <td class="text-default text-light text-uppercase">Local Staff</td>
                            <td class="text-default text-bold pr-20">{{ fr.key_figures.local_staff }}</td> -->
                          </tr>
                          <tr>
                            <td class="text-default text-light text-uppercase pl-20" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-left: 20px;text-transform: uppercase;font-weight: 300;">Injured</td>
                            <td class="text-default text-bold pr-20" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-right: 20px;font-weight: 700;">
                              {% if fr.key_figures.injured != '--' %}
                                {{ fr.key_figures.injured|floatformat:"1"|intcomma|slice:":-2" }}
                              {% else %}
                                {{ fr.key_figures.injured }}
                              {% endif %}
                            </td>
                            <!-- <td class="text-default text-light text-uppercase">Volunteers</td>
                            <td class="text-default text-bold pr-20">{{ fr.key_figures.volunteers }}</td> -->
                          </tr>
                          <tr>
                            <td class="text-default text-light text-uppercase pl-20" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-left: 20px;text-transform: uppercase;font-weight: 300;">Dead</td>
                            <td class="text-default text-bold pr-20" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-right: 20px;font-weight: 700;">
                              {% if fr.key_figures.dead != '--' %}
                                {{ fr.key_figures.dead|floatformat:"1"|intcomma|slice:":-2" }}
                              {% else %}
                                {{ fr.key_figures.dead }}
                              {% endif %}
                            </td>
                            <!-- <td class="text-default text-light text-uppercase">Expat Delegates</td>
                            <td class="text-default text-bold pr-20">{{ fr.key_figures.expat_delegates }}</td> -->
                          </tr>
                          <tr>
                            <td class="text-default text-light text-uppercase pl-20" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-left: 20px;text-transform: uppercase;font-weight: 300;">Missing</td>
                            <td class="text-default text-bold pr-20" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-right: 20px;font-weight: 700;">
                              {% if fr.key_figures.missing != '--' %}
                                {{ fr.key_figures.missing|floatformat:"1"|intcomma|slice:":-2" }}
                              {% else %}
                                {{ fr.key_figures.missing }}
                              {% endif %}
                            </td>
                            <!-- <td></td>
                            <td></td> -->
                          </tr>
                          <tr>
                            <td class="text-default text-light text-uppercase pl-20" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-left: 20px;text-transform: uppercase;font-weight: 300;">Displaced</td>
                            <td class="text-default text-bold pr-20" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-right: 20px;font-weight: 700;">
                              {% if fr.key_figures.displaced != '--' %}
                                {{ fr.key_figures.displaced|floatformat:"1"|intcomma|slice:":-2" }}
                              {% else %}
                                {{ fr.key_figures.displaced }}
                              {% endif %}
                            </td>
                            <!-- <td></td>
                            <td></td> -->
                          </tr>
                          <tr>
                            <td class="text-default text-light text-uppercase pl-20" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-left: 20px;text-transform: uppercase;font-weight: 300;">Assisted</td>
                            <td class="text-default text-bold pr-20" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-right: 20px;font-weight: 700;">
                              {% if fr.key_figures.assisted != '--' %}
                                {{ fr.key_figures.assisted|floatformat:"1"|intcomma|slice:":-2" }}
                              {% else %}
                                {{ fr.key_figures.assisted }}
                              {% endif %}
                            </td>
                            <!-- <td></td>
                            <td></td> -->
                          </tr>
                        {% else %}
                          <tr>
                            <td class="text-default text-light text-uppercase pl-20" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-left: 20px;text-transform: uppercase;font-weight: 300;">Cases:</td>
                            <td class="text-default text-bold pr-20" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-right: 20px;font-weight: 700;">
                              {% if fr.epi_key_figures.who_cases != '--' %}
                                {{ fr.epi_key_figures.who_cases|floatformat:"1"|intcomma|slice:":-2" }} (WHO)
                              {% elif fr.epi_key_figures.health_cases != '--' %}
                                {{ fr.epi_key_figures.health_cases|floatformat:"1"|intcomma|slice:":-2" }} (Ministry of Health)
                              {% elif fr.epi_key_figures.other_cases != '--' %}
                                {{ fr.epi_key_figures.other_cases|floatformat:"1"|intcomma|slice:":-2" }} (Other)
                              {% else %}
                                --
                              {% endif %}
                            </td>
                          </tr>
                          <tr>
                            <td class="text-default text-light text-uppercase pl-20" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-left: 20px;text-transform: uppercase;font-weight: 300;">Suspected:</td>
                            <td class="text-default text-bold pr-20" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-right: 20px;font-weight: 700;">
                              {% if fr.epi_key_figures.who_suspected != '--' %}
                                {{ fr.epi_key_figures.who_suspected|floatformat:"1"|intcomma|slice:":-2" }} (WHO)
                              {% elif fr.epi_key_figures.health_suspected != '--' %}
                                {{ fr.epi_key_figures.health_suspected|floatformat:"1"|intcomma|slice:":-2" }} (Ministry of Health)
                              {% elif fr.epi_key_figures.other_suspected != '--' %}
                                {{ fr.epi_key_figures.other_suspected|floatformat:"1"|intcomma|slice:":-2" }} (Other)
                              {% else %}
                                --
                              {% endif %}
                            </td>
                          </tr>
                          <tr>
                            <td class="text-default text-light text-uppercase pl-20" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-left: 20px;text-transform: uppercase;font-weight: 300;">Probable:</td>
                            <td class="text-default text-bold pr-20" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-right: 20px;font-weight: 700;">
                              {% if fr.epi_key_figures.who_probable != '--' %}
                                {{ fr.epi_key_figures.who_probable|floatformat:"1"|intcomma|slice:":-2" }} (WHO)
                              {% elif fr.epi_key_figures.health_probable != '--' %}
                                {{ fr.epi_key_figures.health_probable|floatformat:"1"|intcomma|slice:":-2" }} (Ministry of Health)
                              {% elif fr.epi_key_figures.other_confirmed != '--' %}
                                {{ fr.epi_key_figures.other_confirmed|floatformat:"1"|intcomma|slice:":-2" }} (Other)
                              {% else %}
                                --
                              {% endif %}
                            </td>
                          </tr>
                          <tr>
                            <td class="text-default text-light text-uppercase pl-20" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-left: 20px;text-transform: uppercase;font-weight: 300;">Confirmed:</td>
                            <td class="text-default text-bold pr-20" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-right: 20px;font-weight: 700;">
                              {% if fr.epi_key_figures.who_confirmed != '--' %}
                                {{ fr.epi_key_figures.who_confirmed|floatformat:"1"|intcomma|slice:":-2" }} (WHO)
                              {% elif fr.epi_key_figures.health_confirmed != '--' %}
                               {{ fr.epi_key_figures.health_confirmed|floatformat:"1"|intcomma|slice:":-2" }} (Ministry of Health)
                              {% elif fr.epi_key_figures.other_confirmed != '--' %}
                               {{ fr.epi_key_figures.other_confirmed|floatformat:"1"|intcomma|slice:":-2" }} (Other)
                              {% else %}
                                --
                              {% endif %}
                            </td>
                          </tr>
                          <tr>
                            <td class="text-default text-light text-uppercase pl-20" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-left: 20px;text-transform: uppercase;font-weight: 300;">Dead:</td>
                            <td class="text-default text-bold pr-20" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-right: 20px;font-weight: 700;">
                              {% if fr.epi_key_figures.who_dead != '--' %}
                                {{ fr.epi_key_figures.who_dead|floatformat:"1"|intcomma|slice:":-2" }} (WHO)
                              {% elif fr.epi_key_figures.health_dead != '--' %}
                                {{ fr.epi_key_figures.health_dead|floatformat:"1"|intcomma|slice:":-2" }} (Ministry of Health)
                              {% elif fr.epi_key_figures.other_dead != '--' %}
                                {{ fr.epi_key_figures.other_dead|floatformat:"1"|intcomma|slice:":-2" }} (Other)
                              {% else %}
                                --
                              {% endif %}
                            </td>
                          </tr>
                        {% endif %}
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-default table-heading-title pt-40 pb-10" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-top: 40px;padding-bottom: 10px;text-transform: uppercase;font-weight: bold;">International Assistance Requested</td>
                  </tr>
                  <tr>
                    <td class="text-default text-light" style="color: #000000;font-family:'Lato', Arial, sans-serif;font-weight: 300;">
                      Government: {{ fr.gov_assistance }}
                    </td>
                  </tr>
                  <tr>
                    <td class="text-default text-light pb-10" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-bottom: 10px;font-weight: 300;">
                      National Society: {{ fr.ns_assistance }}
                    </td>
                  </tr>
                  <tr>
                    <td class="text-default table-heading-title pt-20 pb-10" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-top: 20px;padding-bottom: 10px;text-transform: uppercase;font-weight: bold;">Actions Taken by National Society</td>
                  </tr>
                  {% for at in fr.actions_taken.NTLS %}
                    {% for act in at.actions %}
                      <tr class="table-annce" style="background: #f8f8f8;">
                        <td class="text-default p-10" style="font-family:'Lato', Arial, sans-serif;padding: 10px;">{{ act.name }}</td>
                      </tr>
                    {% endfor %}
                    <tr>
                      <td class="text-default pt-10 pb-10" style="font-family:'Lato', Arial, sans-serif;padding-top: 10px;padding-bottom: 10px;">{{ at.action_summary }}</td>
                    </tr>
                  {% endfor %}
                  <tr>
                    <td class="text-default table-heading-title pt-20 pb-10" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-top: 20px;padding-bottom: 10px;text-transform: uppercase;font-weight: bold;">Actions Taken by IFRC</td>
                  </tr>
                  {% for at in fr.actions_taken.FDRN %}
                    {% for act in at.actions %}
                      <tr class="table-annce" style="background: #f8f8f8;">
                        <td class="text-default p-10" style="font-family:'Lato', Arial, sans-serif;padding: 10px;">{{ act.name }}</td>
                      </tr>
                    {% endfor %}
                    <tr>
                      <td class="text-default pt-10 pb-10" style="font-family:'Lato', Arial, sans-serif;padding-top: 10px;padding-bottom: 10px;">{{ at.action_summary }}</td>
                    </tr>
                  {% endfor %}
                  <tr>
                    <td class="text-default table-heading-title pt-20 pb-10" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-top: 20px;padding-bottom: 10px;text-transform: uppercase;font-weight: bold;">Actions Taken by any other RCRC Movement actors</td>
                  </tr>
                  {% for at in fr.actions_taken.PNS %}
                    {% for act in at.actions %}
                      <tr class="table-annce" style="background: #f8f8f8;">
                        <td class="text-default p-10" style="font-family:'Lato', Arial, sans-serif;padding: 10px;">{{ act.name }}</td>
                      </tr>
                    {% endfor %}
                    <tr>
                      <td class="text-default pt-10 pb-10" style="font-family:'Lato', Arial, sans-serif;padding-top: 10px;padding-bottom: 10px;">{{ at.action_summary }}</td>
                    </tr>
                  {% endfor %}
                  <tr>
                    <td class="text-default table-heading-title pt-20 pb-10" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-top: 20px;padding-bottom: 10px;text-transform: uppercase;font-weight: bold;">Actions Taken by Others</td>
                  </tr>
                  <tr>
                    <td class="text-default text-light pb-10" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-bottom: 10px;font-weight: 300;">
                      {{ fr.actions_others }}
                    </td>
                  </tr>
                  <tr>
                    <td class="text-default td-global-font-style text-italic pt-20 pb-10" style="color: #000000;font-family:'Lato', Arial, sans-serif;padding-top: 20px;padding-bottom: 10px;font-style: italic;font-weight: 300;font-size: 18px;">
                      You are receiving this update based on your selected preferences. <a href="https://go.ifrc.org/account#notifications" target="_blank" class="link" style="font-family: 'Lato', Arial, sand-serif;text-decoration: underline;color: #000;">
                        Update your preferences
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  {% endfor %}
{% endif %}
  <!-- END Main -->