          <!-- Main -->
          <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
            <tr>
              <td align="center">
                <table width="650" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
                  <tr>
                    <td class="td td-shell">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td class="text-center text-default table-heading-main pb-25">{{ subject }}</td>
                        </tr>
{% if count > 10 %}
                        <tr>
                          <td class="text-default td-global-font-style text-center text-italic pb-30"><p>We've detected {{ count }} records – only the first 10 will be shown here.</p>
                        </td>
{% endif %}
                        </tr>
                        <tr>
                          <td class="td pt-30 pb-30">
{% if records|length %}
  {% for record in records %}
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-annce" style="background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;">
                              <tr>
                                <td class="text-default table-heading-title pb-20 text-center">{{ record.title }}</td>
                              </tr>
                              <tr>
                                <td class="text-default td-global-font-style">
    {% autoescape off %}
    {{ record.content }} <br/><a href="{{ record.resource_uri }}" class="link">Read&nbsp;more</a>
    {% endautoescape %}
                                </td>
                              </tr>
                            </table>
                            <br/>
  {% endfor %}
{% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td class="text-default td-global-font-style text-center text-italic pb-30">
                            You are receiving this update based on your selected preferences.<br/><a href="https://go.ifrc.org/account#notifications" target="_blank" class="link">Update your preferences</a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!-- END Main -->
