  <!-- Main -->
{% if records|length %}
  {% for op in records %}
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
      <tr>
        <td align="center">
          <table width="650" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
            <tr>
              <td class="td td-shell">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="text-center text-default pb-25">
                      <span class="table-heading-main">New Operation: </span>
                      <span class="table-heading-sub">{{ op.title }}</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center text-default pb-30">
                      <a href="#" class="button button-red">Follow This Operation</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-default td-global-font-style text-italic pb-30">
                      You are receiving this update based on your selected preferences. <a href="https://go.ifrc.org/account#notifications" target="_blank" class="link">Update your preferences</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-default table-heading-title pt-10 pb-10">Situation Overview</td>
                  </tr>
                  <tr>
                    <td class="text-default text-light pb-40">
                      {{ op.sutiation_overview }}
                    </td>
                  </tr>
                  <tr>
                    <td class="td text-default box box-pointed">
                      <table width="100%" border="0" cellspacing="0" cellpadding="10" class="pb-30">
                        <tr>
                          <td class="text-default table-heading-title pt-10 pb-20">
                            Key Figures
                          </td>
                        </tr>
                        <tr>
                          <td class="text-default text-light text-uppercase pl-20">People Targeted</td>
                          <td class="text-default text-bold pr-20">{{ op.key_figures.people_targeted }}</td>
                          <td class="text-default text-light text-uppercase">Local Staff</td>
                          <td class="text-default text-bold pr-20">{{ op.key_figures.local_staff }}</td>
                        </tr>
                        <tr>
                          <td class="text-default text-light text-uppercase pl-20">Funding Requested</td>
                          <td class="text-default text-bold pr-20">{{ op.key_figures.funding_req }}</td>
                          <td class="text-default text-light text-uppercase">Volunteers</td>
                          <td class="text-default text-bold pr-20">{{ op.key_figures.volunteers }}</td>
                        </tr>
                        <tr>
                          <td class="text-default text-light text-uppercase pl-20">Appeal Code</td>
                          <td class="text-default text-bold pr-20">{{ op.key_figures.appeal_code }}</td>
                          <td class="text-default text-light text-uppercase">Expat Delegates</td>
                          <td class="text-default text-bold pr-20">{{ op.key_figures.expat_delegates }}</td>
                        </tr>
                        <tr>
                          <td class="text-default text-light text-uppercase pl-20">Start Date</td>
                          <td class="text-default text-bold pr-20">{{ op.key_figures.start_date }}</td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td class="text-default text-light text-uppercase pl-20">End Date</td>
                          <td class="text-default text-bold pr-20">{{ op.key_figures.end_date }}</td>
                          <td></td>
                          <td></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-default table-heading-title pt-40 pb-10">Field Reports</td>
                  </tr>
                  {% if record.field_reports|length %}
                    {% for fr in record.field_reports %}
                      <tr>
                        <td class="td">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr class="table-annce">
                              <td class="text-default p-20">
                                <p class="text-bold">Field Report: {{ fr.summary }}</p>
                                <p>{{ fr.updated_at }}</p>
                              </td>
                              <td class="text-default text-right pr-20">
                                <a href="https://go.ifrc.org/reports/{{ fr.id }}" target="_blank" class="button">View Full Report</a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                  {% endfor %}
                {% endif %}
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  {% endfor %}
{% endif %}
  <!-- END Main -->