<p>Dear IFRC Staff,{% include "includes/logo.html" %}</p>

<p>The following user <strong>{{ first_name }} {{ last_name }}</strong> has registered an account on IFRC GO.</p>

<p>As you are listed as Regional Administrator, could you please validate and confirm the identity of <strong>{{ first_name }} {{ last_name }}</strong> and approve their IFRC Go account?</p>

<p><strong>If you do not recognize this user, please contact their National Society to validate the request.</strong></p>

<p><a href="{{ validation_link }}">Yes, I approve the IFRC Go account</a>.</p>

<p>If you do experience any problems, please contact <a href="mailto:im@ifrc.org">im@ifrc.org</a>.</p>

<p>Thank you,</p>

<p>IFRC Go</p>
