<p>You are receiving this email because a pending IFRC GO user without an internal email account has requested access to the platform.</p>

<dl>
  <dt>First name</dt>
  <dd>{{ first_name }}</dd>

  <dt>Last name</dt>
  <dd>{{ last_name }}</dd>

  <dt>Email</dt>
  <dd><a href="mailto:{{ email }}">{{ email }}</a></dd>
</dl>

<p><strong>If you do not recognize this user, simply ignore this email.</strong></p>

<p>Click <a href="{{ validation_link }}">here</a> to grant this user access to the IFRC GO platform. You can update user accounts at any time using the admin interface.</p>
