<p>Dear IFRC Staff,{% include "includes/logo.html" %}</p>

<p>The following user <strong>{{ first_name }} {{ last_name }}</strong> has registered an account on IFRC GO.</p>

<p>User information:</p>

<table style="border-collapse: collapse; border: none;">
    <tr>
        <td>Username:</td><td>{{username}}</td>
    </tr>
    <tr>
        <td>Email:</td><td>{{email}}</td>
    </tr>
    <tr>
        <td>Region:</td><td>{{region}}</td>
    </tr>
    <tr>
        <td>Country:</td><td>{{country}}</td>
    </tr>
    <tr>
        <td>Organization:</td><td>{{organization}}</td>
    </tr>
    <tr>
        <td>City:</td><td>{{city}}</td>
    </tr>
    <tr>
        <td>Department:</td><td>{{department}}</td>
    </tr>
    <tr>
        <td>Position:</td><td>{{position}}</td>
    </tr>
    <tr>
        <td>Phone:</td><td>{{phone}}</td>
    </tr>
    <tr>
        <td>Justification:</td><td>{{justification}}</td>
    </tr>

</table>

<p>As you are listed as Regional Administrator, could you please validate and confirm the identity of <strong>{{ first_name }} {{ last_name }}</strong> and approve their IFRC Go account?</p>

<p><strong>If you do not recognize this user, please contact their National Society to validate the request.</strong></p>

<p><a href="{{ validation_link }}">Yes, I approve the IFRC Go account</a>.</p>

<p>If you do experience any problems, please contact <a href="mailto:im@ifrc.org">im@ifrc.org</a>.</p>

<p>Thank you,</p>

<p>IFRC Go</p>
