<p>Greetings from IFRC Go,{% include "includes/logo.html" %}</p>

<p>We would like to confirm that you’ve signed up for IFRC Go. We’ve noticed that you’ve registered with an email account that is not linked to the Red Cross and Red Crescent Movement.</p>

<p>Nothing to worry about. Please validate your IFRC Go account by following <a href="{{ confirmation_link }}">this link</a>.</p>

<p>After you've validated your email, we will verify your IFRC references and will notify you in a separate email once your IFRC Go account has been approved.</p>

<p>If you do experience any problems, please contact <a href="mailto:im@ifrc.org">im@ifrc.org</a>.</p>

<p>Thank you,</p>

<p>IFRC Go</p>
