<p>{% include "includes/logo.html" %}</p>
<h1> Informal Update</h1>
<h2>{{title}}</h2>
<h2>{{situational_overview}}</h2>
<h2>{{map}}</h2>
<h2>{{graphic}}</h2>

{% for act_taken in actions_taken %}
    {% for key, value in act_taken.items %}
        {% if key == "actions" %}
            {% for action in value %}
                {% for key, value in action.items %}
                    {% if key == "name" %}
                    <p>{{ key }} : {{value}}</p>
                    {% endif %}
                {% endfor %}
            {%endfor%}
        {% else %}
            <p>{{key}}:{{value}} </p>
        {%endif%}
    {% endfor %}
{% endfor %}



{% for resource in resources %}
    {% for key, value in resource.items %}
        {% if key == "url" %}
            {% for url_item in value %}
                {% for key, value in url_item.items %}
                    {% if key == "url" %}
                    <p>{{ key }} : {{value}}</p>
                    {% endif %}
                {% endfor %}
            {%endfor%}
        {% else %}
            <p>{{key}}:{{value}} </p>
        {%endif%}
    {% endfor %}
{% endfor %}