<p><i><a href="https://{{ resource_uri }}">View this data on IFRC GO.</a></i>
{% include "includes/logo.html" %}</p>

<h3>{{ dtype }}</h3>
<h2>{{ name }}</h2>

{% if summary %}
  <p>{{ summary }}</p>
{% else %}
<p>No summary is currently available.
  {% if is_staff %}
    As an admin you can <a href="{{ admin_uri }}"> add a summary</a>.
  {% endif %}
</p>
{% endif %}

{% if countries|length %}
  <h3>Country or countries affected:</h3>
  {% for country in countries %}
    <p>{{ country.name }}</p>
  {% endfor %}
{% endif %}

{% include "includes/notification-source.html" %}
