<p><i><a href="https://{{ resource_uri }}">View this data on IFRC GO.</a></i></p>

<h3>{{ dtype }}</h3>
<h2>{{ summary }}</h2>

{% if description %}
  <p>{{ description }}</p>
{% else %}
<p>No description is currently available. If you're an admin, you can <a href="{{ admin_uri }}">log in and add a description</a>.</p>
{% endif %}

{% if countries|length %}
  <h3>Country or countries affected:</h3>
  {% for country in countries %}
    <p>{{ country.name }}</p>
  {% endfor %}
{% endif %}

{% if status %}
  <h3>Status:</h3>
  <p>{{ status }}</p>
{% endif %}

{% if request_assistance %}
  <h3>Requested assistance:</h3>
  <p>{{ request_assistance }}</p>
{% endif %}

{% include "includes/notification-source.html" %}
